.link{
    color: white;
    border: solid white 3px;
    padding: 7px;
    margin: 10px 10px 17px;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    display: flex;
  }